[Unit]
Description="Vision service"
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/Vision
Restart=always
WorkingDirectory=/home/pi

[Install]
WantedBy=multi-user.target