[submodule "libs/pixy2"]
	path = libs/pixy2
	url = https://github.com/RedHotChiliBots/pixy2
[submodule "libs/gcem"]
	path = libs/gcem
	url = https://github.com/kthohr/gcem.git
[submodule "libs/allwpilib"]
	path = libs/allwpilib
	url = https://github.com/RedHotChiliBots/allwpilib.git
[submodule "libs/libusb"]
	path = libs/libusb
	url = https://github.com/libusb/libusb.git
[submodule "libs/eigen"]
	path = libs/eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog.git
